extends ../layout
include ./template_form

mixin group(title, files, type)
  .card
    h5.card-header 
      span= title
      span.float-right
        a.btn.btn-light.btn-sm.sidebar-action(href=_url('/admin/addtemplate/'+type) title="Datei Hochladen")
          span.fa.fa-upload
    .card-body
      table.table.table
        thead
          tr
            th.col-md-6 Datei
            th.col-md-6 Bezeichnung
            th.fit Aktionen
        tbody
          if files.length == 0
            tr
              td(colspan="3") Keine Dateien vorhanden              
          each file in files
            tr(id="file_"+file.id)
              td.col-md-6
                a(href='/file/get/' + file.id).btn.btn-sm.btn-light
                  span.fa.fa-download
                  span  
                  span= file.filename                
              td.col-md-6=file.description
              td.fit.text-right
                a.btn.btn-light.btn-sm.confirm-action(data-link=_url('/file/delete/'+file.id) data-confirmtext='Willst du Datei ' +file.description + ' wirklich löschen?' title="Datei Löschen") 
                  span.fa.fa-trash 


block content 
  .jumbotron
    h2 Dateien für Kreditgeber*innen
    p.lead Hier können Dateien hochgeladen werden, die Kreditgeber*innen nach dem Login zum Download zur Verfügung stehen, z.B. aktuelle Jahresabschlüsse, rechtliche Informationsdokumente oder sonstige Updates aus deinem Projekt.
  each group, group_id in groups
    +group(group.title, group.files, 'infopack_' + group_id)
  script.
    $(document).ready(function(){
      var hash = $(location).attr('hash');
      if (hash.includes ('file_')) {
        $('#'+hash.substring(hash.indexOf('file_'))).addClass('active').parents('.card').addClass('active');
      }
    })
