extends ../layout

block content 
  .jumbotron
    h2 Vorlagenfelder
    p.lead 
      span Die Liste an möglichen Felder für die Vorlagen.
  table.table.table-narrow
    thead
      tr
        th Ebene
        th Feldname
        th Beschreibung
    tbody
      tr
        td Allgemein
        td current_date
        td Aktuelles Datum
      tr
        td Allgemein
        td project_name
        td Projektname      
      tr
        td Allgemein
        td project_iban
        td Projekt IBAN     
      tr
        td Allgemein
        td project_bic
        td Projekt BIC      
      tr
        td Kontomitteilung
        td year
        td Jahr
      tr
        td Kontomitteilung
        td is&lt;Jahr&gt;
        td Indiktator ob ein bestimmtes Jahr ist, z.B.: is2022        
      tr
        td Kontomitteilung
        td interest_total
        td Summe Jahreszinsen
      tr
        td Kontomitteilung
        td amount_total_begin
        td Summe Kontostand Jahresbeginn        
      tr
        td Kontomitteilung
        td amount_total_end
        td Summe Kontostand Jahresende        
      tr
        td Kontomitteilung
        td interest_total_paid
        td Summe ausgezahlte Zinsen des Jahres        
      tr
        td Kontomitteilung
        td user_contracts
        td Verträge (Liste, siehe Ebene "Vertrag")
      tr
        td Kontomitteilung
        td user_transactions_year
        td Zahlungen und Zinsbuchungen des Jahres (Liste aller Kredite, siehe Ebene "Zahlungen und Zinsbuchungen des Jahres")      
      tr
        td Zahlungen und Zinsbuchungen des Jahres
        td contract_id
        td Vertragsnummer      
      tr
        td Zahlungen und Zinsbuchungen des Jahres
        td contract_amount
        td Vertragswert
      tr
        td Zahlungen und Zinsbuchungen des Jahres
        td contract_interest_rate
        td Zinssatz      
      tr
        td Zahlungen und Zinsbuchungen des Jahres
        td contract_first_line
        td Indikator für nächsten Vertrag in der Liste
      tr
        td Zahlungen und Zinsbuchungen des Jahres
        td transaction_date
        td Buchungsdatum      
      tr
        td Zahlungen und Zinsbuchungen des Jahres
        td transaction_amount
        td Buchungswert      
      tr
        td Zahlungen und Zinsbuchungen des Jahres
        td transaction_type
        td Buchungsart (Saldo Jahresbeginn, Zinsbuchung, ...)      
      each column in userColumns
        tr
          td Kreditgeber*in
          td=column.id
          td=column.label
      tr
        td Kreditgeber*in
        td user_type_is_&lt;Typ&gt;
        td Indikator ob Kreditgeber*in von Typ "person" oder "organisation" ist (nur Kontomitteilung)
      tr
        td Kreditgeber*in
        td user_interest_payment_type_is_&lt;Zinsauszahlungsart&gt;
        td Indikator ob Kreditgeber*in Kredite mit Zinsauszahlungsart "yearly" oder "end" besitzt (nur Kontomitteilung)
      tr
        td Kreditgeber*in
        td user_interest_rate_type_is_&lt;Zinsart&gt;
        td Indikator ob Kreditgeber*in Kredite mit Zinsart "money" oder "coupon" besitzt (nur Kontomitteilung)
      tr
        td Kreditgeber*in
        td user_contracts
        td Verträge (Liste)
      each column in contractColumns
        tr
          td Vertrag
          td=column.id
          td=column.label
      tr
        td Vertrag
        td contract_interest_payment_type_is_&lt;Zinsauszahlungsart&gt;
        td Indikator ob der Kredit die Zinsauszahlungsart "yearly" oder "end" hat (nur Kontomitteilung)
      tr
        td Vertrag
        td contract_interest_rate_type_is_&lt;Zinsart&gt;
        td Indikator ob der Kredit die Zinsart "money" oder "coupon" hat (nur Kontomitteilung)                
      tr
        td Vertrag
        td contract_transactions_year
        td Zahlungen und Zinsbuchungen des Jahres (nur bei Kontomitteilung, Liste pro Kredit, siehe Ebene "Zahlungen und Zinsbuchungen des Jahres")             
      tr
        td Vertrag
        td contract_transactions
        td Zahlungen (Liste, siehe Ebene "Zahlung")
      each column in transactionColumns
        tr
          td Zahlung
          td=column.id
          td=column.label