mixin files_show(files, type, id, addFile)
  .row(id= type + '_files')
    .col-md-12
      .card
        h4.card-header 
          span Dokumente
          span.float-right
            a.btn.btn-light.btn-sm.sidebar-action(href=_url('/file/add/' + type + '/'+id))
              span.fa.fa-upload
        .card-body
          table.table
            tbody
              if (files.length == 0)
                tr
                  td Keine Dateien hochgeladen
              each file in files
                tr(id='file_' + file.id)
                  td.col-md-4 
                    a(href=_url('/file/get/' + file.id)).btn.btn-sm.btn-light
                      span.fa.fa-download
                      span  
                      span= file.filename
                  td.col-md-7= file.description
                  td.col-md-1.text-right 
                    a.btn.btn-light.btn-sm.confirm-action(data-update-tag=type + '_files' data-link=_url('/file/delete/' + type + '/' +file.id), data-confirmtext='Willst du die Datei ' + file.filename + ' wirklich löschen?') 
                     span.fa.fa-trash
              if addFile && addFile === type
                +files_add(type,id)
