extends ../admin/layout

block admin-content
  include ../user/show_user.jade 
  include ./show_contracts.jade 
  .row
    form.form-horizontal(action="/contract/add" method="post" role="form")
      input(type="hidden" name="id" value=user.id)
      legend Neuer Direktkredit
      .form-group
        label.control-label.col-md-2 Betrag
        .col-md-4
          input.form-control(type="number" step="0.01" name="amount")
        label.control-label.col-md-1 Zinssatz
        .col-md-2
          input.form-control(type="number" step="0.01" min="0" max="10" name="interest_rate") 
        label.control-label.col-md-1 Laufzeit
        .col-md-2
          input.form-control(type="text" name="period")
      .form-group 
        label.control-label.col-md-2 Vertragsdatum
        .col-md-4
          .input-group.date.datepicker(data-provide="datepicker" data-date-format="dd.mm.yyyy" data-date-language="de")
            input.form-control(type="text" name="sign_date") 
            span.input-group-addon
              span.glyphicon.glyphicon-calendar
        label.control-label.col-md-2 Kündigungsdatum
        .col-md-4
          .input-group.date.datepicker(data-provide="datepicker" data-date-format="dd.mm.yyyy" data-date-language="de")
            input.form-control(type="text" name="termination_date") 
            span.input-group-addon
              span.glyphicon.glyphicon-calendar
      .form-group
        label.control-label.col-md-2 Status
        .col-md-10
          select.form-control(name="status")
            option(selected=contract && contract.status == 'unknown' value='unknown') Noch kein Vertrag
            option(selected=contract && contract.status == 'sign' value='sign') Vertrag ist zu unterschreiben
            option(selected=contract && contract.status == 'sent' value='sent') Vertrag ist verschickt
            option(selected=contract && contract.status == 'complete' value='complete') Vertrag abgeschlossen   
              
      .form-group 
        label.control-label.col-md-2 Notizen
        .col-md-10
          textarea.form-control(type="text" name="notes")              
      .text-right
        button(type='submit' class='btn btn-primary') Speichern
  script.
    $(function () { $('.datepicker').datepicker({'format': 'dd.mm.yyyy', 'language': 'de'})});        

                    