mixin nav(name, id, logo, style)
  .navbar.navbar-expand-lg.navbar-default
      if logo
        a.navbar-brand(href="#") #[img(height="25" src=logo)] &nbsp; #{name}
      else 
        a.navbar-brand(href="#")= name
      button.navbar-toggler.collapsed( type="button", data-toggle="collapse", data-target="#" + id, aria-expanded="false", aria-controls="navbar")
        span.sr-only Toggle navigation
        span.navbar-toggler-icon
      .collapse.navbar-collapse( id=id )
          ul.nav.navbar-nav
              block
          ul.nav.navbar-nav.ml-auto
            - console.log("user: " + JSON.stringify(user));
            if (user)
              li.nav-item: a.nav-link( href="/logout" ) Abmelden                          
            else
              li.nav-item: a.nav-link( href="/login" ) Anmelden

 
mixin nav_item(href, active)
    li.nav-item(class=active): a.nav-link( href=href )
        block

mixin dd_item(href, active)
    a.dropdown-item(class=active href=href )
        block        
 
mixin nav_item_dropdown(href, active)
    li.nav-item.dropdown
        a.nav-link.dropdown-toggle( href='#', data-toggle="dropdown", role="button", aria-expanded="false" )= attributes.label
        ul.dropdown-menu( role="menu" )
            block
 
mixin nav_divider
    li.divider
 
mixin nav_header
    li.dropdown-header
        block

mixin logon_form(action)        
  form(action=action method="post")
    .form-group
      label Benutzername / E-Mail Adresse
      input(type="text" class="form-control" name="userid")
    .form-group
      label Passwort
      input(type="password" class="form-control" name="password")
    button(type='submit' class='btn btn-warning btn-lg') Einloggen
        