include ../country
include ../partials/forms

mixin user_form(formTitle, action, user)
  +form(action)
    if user
      +hidden('id', user.id)
    .form-row
      +text('first_name')(value=_iv(user, 'first_name') groupClass="col" icon='fa-user' required)
      +text('last_name')(value=_iv(user, 'last_name') groupClass="col")
    +text('street')(value=_iv(user, 'street') icon="fa-map-marker")
    .form-row
      +text('zip')(value=_iv(user, 'zip') icon="fa-envelope" groupClass="col-md-4")
      +text('place')(value=_iv(user, 'place') icon="fa-city" groupClass="col-md-8")
    +select('country')(value=_iv(user, 'country') icon="fa-globe-africa")
      +country_select_options(_iv(user, 'country'))
    +text('telno')(type="tel" value=_iv(user, 'telno') icon="fa-phone")
    +text('email')(type="email" value=_iv(user, 'email') icon="fa-at" required)
    .form-row
      +text('IBAN')(value=_iv(user, 'IBAN') icon="fa-credit-card" groupClass="col-md-8")
      +text('BIC')(value=_iv(user, 'BIC') groupClass='col-md-4')
    +select('relationship')(icon='fa-user-friends')
      each type in settings.project.get('defaults.relationships')
        +option(type, type)(selected=_iv(user, 'relationship'))
    +submit_button()