extends ../admin/layout

mixin status(tooltip, status)
  td.text-center(data-order=status)
    font(data-toggle="tooltip" title=tooltip)
      if status == 2
        span.fa.fa-check-circle.text-success
      else if status == 0
        span.fa.fa-minus-circle.text-danger
      else if status == 1
        span.fa.fa-question-circle.text-warning 

block admin-content
  .d-none.datatable-buttons(for-id="datatable_length")
    a.datatable-button.btn.btn-primary.btn-sm.sidebar-action(href='/user/add')
      span.fa.fa-plus 
      span  Kreditgeber*in
  table.table.table-striped(id="datatable")
    thead
      tr
        th.col-md-1(rowspan=(noAggregation?"1":"2")) ID
        th.col-md-2(rowspan=(noAggregation?"1":"2")) Name
        th.col-md-2(rowspan=(noAggregation?"1":"2")) Adresse
        if (!noAggregation)
          th.col-md-1.text-center(rowspan="2") Verträge
          th.col-md-4.text-center(colspan="4") Beträge
          th.col-md-1.text-center(colspan="3") Status
        if (additionalFields) 
          each field in additionalFields
            th.col-md-1(rowspan=(noAggregation?"1":"2") class=(field.type==="number"?"text-right":"text-center"))=field.label
        th.col-md-1.text-center(rowspan=(noAggregation?"1":"2")) Aktionen
      if (!noAggregation)
        tr
          th.col-md-1.text-right Vertrag
          th.col-md-1.text-right Aushaftend
          th.col-md-1.text-right Einbezahlt
          th.col-md-1.text-right Ausbezahlt
          th.col-md-1.text-right V
          th.col-md-1.text-right E
          th.col-md-1.text-right A
    tbody
      each user in users
        if (!noAggregation)
          - aggregate = user.getAggregateNumbers(projectid)
        tr
          td= user.id 
          td(data-order=replaceUmlaute(user.getFullName()))=user.getFullName()
          td!=user.getAddress(true)
          if (!noAggregation)
            td.text-center #[font(data-toggle="tooltip" title="Anzahl der Verträge")= aggregate.contracts] 
            td.text-center #[font(data-toggle="tooltip" title="Vertragssumme") #{sprintf('%.2f', aggregate.contractAmount)}]  
            td.text-center #[font(data-toggle="tooltip" title="Aushaftender Betrag") #{sprintf('%.2f', aggregate.outstandingAmount)}]  
            td.text-right #[font.text-success(data-toggle="tooltip" title="Eingezahlt") #{sprintf('%.2f', aggregate.paidAmount)}]  
            td.text-right #[font.text-danger(data-toggle="tooltip" title="Ausbezahlt") #{sprintf('%.2f', aggregate.repaidAmount)}] 
            +status("Vertragsstatus", aggregate.statusContract)
            +status("Einzahlungsstatus", aggregate.statusPaid)
            +status("Auszahlungsstatus", aggregate.statusRepaid)
          if (additionalFields)
            each field in additionalFields
              if field.type === "date"
                td.text-center(data-order=moment(user[field.key]).format("YYYY-MM-DD"))= moment(user[field.key]).format("DD.MM.YYYY")
              else if field.type === "number"
                td.text-right= sprintf('%.2f', user[field.key])
              else
                td.text-center= user[field.key]
          td.fit
              a.btn.btn-light.btn-sm(href='/user/show/'+user.id) #[span.fa.fa-search]
              a.btn.btn-light.btn-sm.sidebar-action(href='/user/edit/'+user.id) #[span.fa.fa-edit]