extends ../admin/layout

mixin status(tooltip, status)
  td.text-center(data-order=status)
    font(data-toggle="tooltip" title=tooltip)
      if status == 2
        span.fa.fa-check-circle.text-success
      else if status == 0
        span.fa.fa-minus-circle.text-danger
      else if status == 1
        span.fa.fa-question-circle.text-warning 

block admin-content
  .d-none(id="datatable_parent")
    .d-none.datatable-buttons(for-id="datatable_length")
      select.checkbox-select(id="column_select" multiple="multiple" autocomplete="off") #[span.fa.fa-cogs]
        each column in contracts.columns
          option(value=column.id selected=column.visible?"selected":undefined)= column.label

      a.datatable-button.btn.btn-light.sidebar-action(href='/user/add' title="Kreditgeber*in Hinzufügen")
        span.fa.fa-plus 
        span  
        span.fa.fa-id-card
    table.table.table-striped(id="datatable" data-auto-width="false")
      thead
        tr
          th.control.fit.text-center(data-orderable="false")
          each column in contracts.columns
            th(data-name=column.id id=column.id data-visible=!column.visible class=column.class data-responsive-priority=(column.priority?column.priority:"100"))= column.label
          th(data-orderable="false" data-responsive-priority="1").fit.text-center 
            span.fa.fa-cogs
      tbody
        each row in contracts.data
          tr
            td.control.fit
            each cell, cellIndex in row
              if cell === false
                td(title=_t('no_contract') class=contracts.columns[cellIndex].class?contracts.columns[cellIndex].class:"") -
              else
                td(data-order=(cell.order?cell.order:undefined) class=cell.class + (contracts.columns[cellIndex].class?" "+contracts.columns[cellIndex].class:""))!=cell.value
            td.fit.text-right
              if row[9] === false
                a.btn.btn-light.btn-sm(href='/user/show/'+row[1].value) #[span.fa.fa-search-plus]  
              else
                a.btn.btn-light.btn-sm(href='/user/show/'+row[1].value+'#show_contract_'+row[9].value) #[span.fa.fa-search-plus]
        
