.row
  .col-md-12
    .card
      h4.card-header 
        span Stammdaten 
        span.float-right
          a.btn.btn-light.btn-sm.sidebar-action(href='/user/edit/'+user.id) 
            span.fa.fa-edit
          a.btn.btn-light.btn-sm.confirm-action(data-link='/user/delete/'+user.id, data-confirmtext='Willst du Direktkreditgeber*in ' + user.first_name + ' ' + user.last_name  + ' wirklich löschen?') 
            span.fa.fa-trash
          if (templates_user && templates_user.length > 0)
            .btn-group.dropdown
              button.btn.btn-light.btn-sm.dropdown-toggle(id='userTemplateButton' type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
                span.fa.fa-file
              .dropdown-menu.float-right.dropdown-menu-right( aria-labelledby="userTemplateButton")
                each template in templates_user
                  a.dropdown-item(href='/docx/'+user.id+'?fileid='+template.id)
                    span.fa.fa-file-download
                    span  
                    span= template.description
      .card-body
        table.table
          tbody
            tr
              td.col-md-4.h6 Name:
              td.col-md-8.h6= user.getFullName()
            tr
              td.col-md-4.h6 Adresse:
              td.col-md-8.h6!= user.getAddress(true)
            tr
              td.col-md-4.h6 Telefonnummer:
              td.col-md-8.h6= user.telno
            tr
              td.col-md-4.h6 E-Mail Adresse:
              td.col-md-8.h6 #[a(href='mailto:'+user.email)= user.email]
            tr
              td.col-md-4.h6 IBAN:
              td.col-md-8.h6= user.IBAN    
            tr
              td.col-md-4.h6 BIC:
              td.col-md-8.h6= user.BIC
            tr
              td.col-md-4.h6 Logon ID:
              td.col-md-8.h6= user.logon_id
            tr
              td.col-md-4.h6 Passwort:
              if user.password && user.password !== ''
                td.col-md-8.h6= user.password 
              else
                td.col-md-8.h6
                  i.text-secondary verschlüsselt
            tr
              td.col-md-4.h6 Eingeloggt:
              if (user.loginCount || 0) == 0
                td.col-md-8.h6 
                  i.text-secondary Noch nie
              else
                td.col-md-8.h6= user.loginCount + ' mal, zuletzt am ' + moment(user.lastLogin).format('DD.MM.YYYY')
            tr
              td.col-md-4.h6 Beziehung zum Projekt:
              td.col-md-8.h6= user.relationship  	