.row
  .col-md-12
    h3 Stammdaten 
     font.dropdown
      #[a.btn.btn-default.btn-default(href='/user/edit/'+user.id) #[span.glyphicon.glyphicon-pencil]]    
      #[a.btn.btn-default.btn-default.confirm(data-link='/user/delete/'+user.id, data-confirmtext='Willst du Direktkreditgeber*in ' + user.first_name + ' ' + user.last_name  + ' wirklich löschen?') #[span.glyphicon.glyphicon-trash]]        
      a.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown") #[span.glyphicon.glyphicon-file]
        span.caret  
      ul.dropdown-menu
        if (templates && templates.length > 0)
          each template in templates
            li
              a(href='/docx/'+user.id+'?fileid='+template.id)=template.description
        else
          li
            a(href='/docx/'+user.id+'?file=userdata_w_contract_return') Dankesschreiben (2 Verträge)
          li 
            a(href='/docx/'+user.id+'?file=userdata_w_contract') Dankesschreiben (1 Vertrag) 
          li 
            a(href='/docx/'+user.id+'?file=userdata_wo_contract') Dankesschreiben (ohne Vertrag) 
.row
  .col-md-3.h4 Name:
  .col-md-8.h4= user.first_name + ' ' + user.last_name 
.row
  .col-md-3.h4 Adresse:
  .col-md-8.h4= user.street + ', ' + user.zip + ' ' + user.place 
.row
  .col-md-3.h4 Telefonnummer:
  .col-md-8.h4= user.telno
.row
  .col-md-3.h4 E-Mail Adresse:
  .col-md-8.h4 #[a(href='mailto:'+user.email)= user.email]
.row
  .col-md-3.h4 IBAN:
  .col-md-8.h4= user.IBAN    
.row
  .col-md-3.h4 BIC:
  .col-md-8.h4= user.BIC
.row
  .col-md-3.h4 Logon ID:
  .col-md-8.h4= user.logon_id
.row
  .col-md-3.h4 Passwort:
  .col-md-8.h4= user.password 
.row
  .col-md-3.h4 Beziehung zum Projekt:
  .col-md-8.h4= user.relationship  	