extends ../admin/layout

block admin-content
  .jumbotron
    h2 Zahlen, Daten, Fakten
    p Auswertungen für Hobby-Nummerolog*innen und Zahlennerds 
  .row
    .col-md-6
      .row
        h3 Alle Kredite     
      .row
        .col-md-5.h4 Anzahl
        .col-md-7.h4= numbers.total.count
      .row
        .col-md-5.h4 Gesamtwert
        .col-md-7.h4= numbers.total.amount
      .row 
        .col-md-5.h4 Durchschnittswert
        .col-md-7.h4= numbers.total.avgAmount
      .row
        .col-md-5.h4 Medianwert
        .col-md-7.h4= numbers.total.medianAmount
      .row
        .col-md-5.h4 Durchschnittszinssatz
        .col-md-7.h4= numbers.total.avgInterestRate
      .row
        .col-md-5.h4 Durchschnittslaufzeit
        .col-md-7.h4= numbers.total.avgPeriod
    .col-md-6
      .row
        h3 Laufende Kredite
      .row
        .col-md-5.h4 Anzahl
        .col-md-7.h4= numbers.total.countRunning
      .row
        .col-md-5.h4 Gesamtwert
        .col-md-7.h4= numbers.total.amountRunning
      .row
        h3 Gekündigte Kredite
      .row
        .col-md-5.h4 Anzahl
        .col-md-7.h4= numbers.total.countCancelled
      .row
        .col-md-5.h4 Gesamtwert
        .col-md-7.h4= numbers.total.amountCancelled
    .row
      img(width="600" src="data:image/png;base64,"+numbers.charts.byRelationship)