mixin transaction_input(action, user, contract, transaction)
  form.form-horizontal(action=action method="post" role="form")
    input(type="hidden" name="id" value=transaction? transaction.id : "")
    input(type="hidden" name="contract_id" value=contract.id)
    input(type="hidden" name="user_id" value=user.id)
    legend Zahlung Bearbeiten
    .form-group
      label.control-label.col-md-1 Datum
      .col-md-3
        .input-group.date.datepicker(data-provide="datepicker" data-date-format="dd.mm.yyyy" data-date-language="de")
          if transaction && transaction.transaction_date
            input.form-control(type="text" name="transaction_date" value=moment(transaction.transaction_date).format('DD.MM.YYYY'))
          else 
            input.form-control(type="text" name="transaction_date")
          span.input-group-addon
            span.glyphicon.glyphicon-calendar
      label.control-label.col-md- Art
      .col-md-3
        select.form-control(name="type")
          option(selected=transaction && transaction.type == 'initial' value='initial') Einzahlung
          option(selected=transaction && transaction.type == 'deposit' value='deposit') Zusatzzahlung
          option(selected=transaction && transaction.type == 'withdrawal' value='withdrawal') Teilauszahlung
          option(selected=transaction && transaction.type == 'termination' value='termination') Rückzahlung
      label.control-label.col-md-1 Betrag
      .col-md-3
        input.form-control(type="number" step="0.01" name="amount" value=transaction ? transaction.amount : "")
    .text-right
      button(type='submit' class='btn btn-primary') Speichern