.row
  form.form-horizontal(action=(editContract?"/contract/edit":"/contract/add") method="post" role="form")
    input(type="hidden" name="user_id" value=user.id)
    if (editContract)
      input(type="hidden" name="id" value=editContract.id)
      legend Direktkredit bearbeiten
    else
      legend Neuer Direktkredit      
    - var termination_type = (project.defaults && project.defaults.termination_type ? project.defaults.termination_type:"T");
    - termination_type = (editContract && editContract.termination_type?editContract.termination_type:termination_type);
    - var termination_period = (project.defaults && project.defaults.termination_period != null ? project.defaults.termination_period:undefined);
    - termination_period = (editContract && editContract.termination_period?editContract.termination_period:termination_period);
    - var termination_period_type = (project.defaults && project.defaults.termination_period_type ? project.defaults.termination_period_type:"M");
    - termination_period_type = (editContract && editContract.termination_period_type?editContract.termination_period_type:termination_period_type);
    .form-group 
      label.control-label.col-md-2 Vertragsdatum
      .col-md-4
        .input-group.date.datepicker(data-provide="datepicker" data-date-format="dd.mm.yyyy" data-date-language="de")
          input.form-control(type="text" name="sign_date" value=(editContract&&editContract.sign_date?moment(editContract.sign_date).format('DD.MM.YYYY'):"")) 
          span.input-group-addon
            span.glyphicon.glyphicon-calendar
    .form-group
      label.control-label.col-md-2 Betrag
      .col-md-4
        input.form-control(type="number" step="0.01" name="amount" value=(editContract&&editContract.amount!=null?editContract.amount:undefined))
      label.control-label.col-md-1 Zinssatz
      .col-md-2
        input.form-control(type="number" step="0.001" min="0" max="10" name="interest_rate" value=(editContract&&editContract.interest_rate!=null?editContract.interest_rate:undefined)) 
    .form-group
      label.control-label.col-md-2 Kündigungsart
      .col-md-10
        select.form-control(name="termination_type" id="termination_type_input")
          option(selected=termination_type == 'T' value='T') Kündigungsfrist
          option(selected=termination_type == 'P' value='P') Laufzeit
          option(selected=termination_type == 'D' value='D') Enddatum
    .form-group.termination-type-group(id="termination_type_T" class=(!editContract || !editContract.termination_type || editContract && editContract.termination_type == 'T'?"":"hidden"))
      label.control-label.col-md-2 Kündigungsfrist
      .col-md-2
        input.form-control(type="number" step="1" name="termination_period_T" value=termination_period)
      .col-md-2
        select.form-control(name="termination_period_type_T")
          option(selected=termination_period_type == 'M' value='M') Monat(e)
          option(selected=termination_period_type == 'w' value='w') Woche(n)
          option(selected=termination_period_type == 'Y' value='Y') Jahr(e)
      label.control-label.col-md-2 Kündigungsdatum
      .col-md-4
        .input-group.date.datepicker(data-provide="datepicker" data-date-format="dd.mm.yyyy" data-date-language="de")
          input.form-control(type="text" name="termination_date_T"  value=(editContract&&editContract.termination_date?moment(editContract.termination_date).format('DD.MM.YYYY'):"")) 
          span.input-group-addon
            span.glyphicon.glyphicon-calendar
    .form-group.termination-type-group(id="termination_type_P" class=(contract && contract.termination_type == 'P'?"":"hidden"))
      label.control-label.col-md-2 Laufzeit
      .col-md-2
        input.form-control(type="number" step="1" name="termination_period_P" value=termination_period)
      .col-md-2
        select.form-control(name="termination_period_type_P")
          option(selected=termination_period_type == 'M' value='M') Monat(e)
          option(selected=termination_period_type == 'w' value='w') Woche(n)
          option(selected=termination_period_type == 'Y' value='Y') Jahr(e)  
    .form-group.termination-type-group(id="termination_type_D" class=(editContract && editContract.termination_type == 'D'?"":"hidden"))
      label.control-label.col-md-2 Rückzahlungsdatum
      .col-md-4
        .input-group.date.datepicker(data-provide="datepicker" data-date-format="dd.mm.yyyy" data-date-language="de")
          input.form-control(type="text" name="termination_date_D" value=(editContract&&editContract.termination_date?moment(editContract.termination_date).format('DD.MM.YYYY'):"")) 
          span.input-group-addon
            span.glyphicon.glyphicon-calendar                   
    .form-group
      label.control-label.col-md-2 Status
      .col-md-10
        select.form-control(name="status")
          option(selected=editContract && editContract.status == 'unknown' value='unknown') Noch kein Vertrag
          option(selected=editContract && editContract.status == 'sign' value='sign') Vertrag ist zu unterschreiben
          option(selected=editContract && editContract.status == 'sent' value='sent') Vertrag ist verschickt
          option(selected=editContract && editContract.status == 'complete' value='complete') Vertrag abgeschlossen   
            
    .form-group 
      label.control-label.col-md-2 Notizen
      .col-md-10
        if editContract
          textarea.form-control(type="text" name="notes")=editContract.notes
        else
          textarea.form-control(type="text" name="notes")
    .text-right
      button(type='submit' class='btn btn-primary') Speichern
script.
  $(function () { $('.datepicker').datepicker({'format': 'dd.mm.yyyy', 'language': 'de'})});        