include ../transaction/input

.row
  .col-md-12
    h3 Direktkredite #[a.btn.btn-default.btn-sm(href='/contract/add/'+user.id) #[span.glyphicon.glyphicon-plus]] 
each contract in user.contracts
  - interest = contract.calculateInterest(projectid)
  if (editContract && contract.id == editContract.id )
    include ./contract_form
  else
    .row
      .col-md-12 
        h4 Direktkredit vom #{moment(contract.sign_date).format('DD.MM.YYYY')} 
          font.dropdown
            | #[a.btn.btn-default.btn-sm(href='/contract/edit/'+contract.id) #[span.glyphicon.glyphicon-pencil]] #[a.btn.btn-default.btn-sm.confirm(data-link='/contract/delete/'+contract.id, data-confirmtext='Willst du den Direktkredit vom ' + moment(contract.sign_date).format('DD.MM.YYYY') + ' von ' + user.first_name + ' ' + user.last_name  + ' wirklich löschen?') #[span.glyphicon.glyphicon-trash]]&nbsp;
            if (templates_contract && templates_contract.length > 0)
              a.btn.btn-default.btn-sm.dropdown-toggle(type="button" data-toggle="dropdown") #[span.glyphicon.glyphicon-file]
                span.caret  
              ul.dropdown-menu
                each template in templates_contract
                  li
                    a(href='/docx_c/'+contract.id+'?fileid='+template.id)=template.description
    .row
      .col-md-3 Status:
      .col-md-9 #{contract.getStatus()} 
    .row
      .col-md-3 Betrag (Vertrag):
      .col-md-9= format.formatMoney(contract.amount)
    .row
      .col-md-3 Kündigungsart:
      .col-md-9=contract.getTerminationTypeFullString(project)
    if contract.termination_type == "T"
      if (contract.termination_date)
        .row
          .col-md-3 Kündigungsdatum:
          .col-md-9 #{moment(contract.termination_date).format('DD.MM.YYYY')}
        .row
          .col-md-3 Rückzahlungsfrist:
          .col-md-9 #{moment(contract.getPaybackDate(project)).format('DD.MM.YYYY')}          
      else
        .row
          .col-md-3 Kündigungsdatum:
          .col-md-9 nicht gekündigt
    else if contract.termination_type=="D"
      .row
        .col-md-3 Rückzahlungsdatum:
        .col-md-9 #{moment(contract.getPaybackDate(project)).format('DD.MM.YYYY')}          
    else if contract.termination_type=="P"
      .row
        .col-md-3 Ende der Laufzeit:
        .col-md-9 #{moment(contract.getPaybackDate(project)).format('DD.MM.YYYY')}          
    .row
      .col-md-3 Zinssatz:
      .col-md-9 #{format.formatNumber(contract.interest_rate,3)}%
    .row 
      .col-md-3 Zinsertrag (bis heute):
      .col-md-9= format.formatMoney(interest.now)
    .row
      .col-md-3 Zinsertrag (für #{interest.last_year_no}):
      .col-md-9= format.formatMoney(interest.last_year)
    if contract.termination_date
      .row
        .col-md-3 Zinsertrag bis Kündigungsdatum:
        .col-md-9= format.formatMoney(interest.termination) 
    .row 
      .col-md-3 Vertragsstatus:
      .col-md-9 #{contract.getStatusText()} 
    .row 
      .col-md-3 Laufzeit:
      .col-md-9 #{format.formatNumber(contract.period,2)} Jahre
    .row 
      .col-md-3 Notizen:
      .col-md-9= contract.notes
  .row
    .col-md-12
      h5 Zahlungen #[a.btn.btn-default.btn-sm(href='/transaction/add/'+contract.id) #[span.glyphicon.glyphicon-plus]]
      each transaction in contract.transactions
        if (editTransaction && transaction.id == editTransaction.id )
          .row
            +transaction_input('/transaction/edit', user, contract, editTransaction)
        else
          .row
            .col-md-1 
            .col-md-3 #{moment(transaction.transaction_date).format('DD.MM.YYYY')}
            .col-md-3 #{transaction.getTypeText()}
            .col-md-4.text-right #{format.formatMoney(transaction.amount)} #[a.btn.btn-default.btn-sm(href='/transaction/edit/'+transaction.id) #[span.glyphicon.glyphicon-pencil]] #[a.btn.btn-default.btn-sm.confirm(data-link='/transaction/delete/'+transaction.id, data-confirmtext='Willst du die Zahlung von ' + sprintf('%.2f', contract.amount) +  ' EUR vom ' + moment(transaction.transaction_date).format('DD.MM.YYYY') + ' von ' + user.first_name + ' ' + user.last_name  + ' wirklich löschen?') #[span.glyphicon.glyphicon-trash]]
      if (addTransaction && contract.id == addTransaction.contract_id)
        +transaction_input('/transaction/add', user, contract, addTransaction)    