include ../transaction/input

.row
  .col-md-12
    h3 Direktkredite #[a.btn.btn-default.btn-sm(href='/contract/add/'+user.id) #[span.glyphicon.glyphicon-plus]] 
each contract in user.contracts
  - interest = contract.calculateInterest()
  if (editContract && contract.id == editContract.id )
    include ./edit_contract.jade 
  else
    .row
      .col-md-12 
        h4 Direktkredit vom #{moment(contract.sign_date).format('DD.MM.YYYY')} #[a.btn.btn-default.btn-sm(href='/contract/edit/'+contract.id) #[span.glyphicon.glyphicon-pencil]] #[a.btn.btn-default.btn-sm.confirm(data-link='/contract/delete/'+contract.id, data-confirmtext='Willst du den Direktkredit vom ' + moment(contract.sign_date).format('DD.MM.YYYY') + ' von ' + user.first_name + ' ' + user.last_name  + ' wirklich löschen?') #[span.glyphicon.glyphicon-trash]]
        a.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown") #[span.glyphicon.glyphicon-file]
          span.caret  
        ul.dropdown-menu
          if (templates_contract && templates_contract.length > 0)
            each template in templates_contract
              li
                a(href='/docx_c/'+contract.id+'?fileid='+template.id)=template.description
    .row
      .col-md-4 Status:
      .col-md-8 #{contract.getStatus()} 
    .row
      .col-md-4 Betrag (Vertrag):
      .col-md-8 #{sprintf('%.2f', contract.amount )} EUR
    .row
      .col-md-4 Kündigungsdatum:
      if (contract.termination_date)
        .col-md-8 #{moment(contract.termination_date).format('DD.MM.YYYY')}
      else
        .col-md-8 nicht gekündigt
    .row
      .col-md-4 Zinssatz:
      .col-md-8 #{sprintf('%.3f', contract.interest_rate )}%
    .row 
      .col-md-4 Zinsertrag (bis heute):
      .col-md-8 #{sprintf('%.2f', interest.now)} EUR
    .row
      .col-md-4 Zinsertrag (für #{interest.last_year_no}):
      .col-md-8 #{sprintf('%.2f', interest.last_year)} EUR
    .row 
      .col-md-4 Vertragsstatus:
      .col-md-8 #{contract.getStatusText()} 
    .row 
      .col-md-4 Laufzeit:
      .col-md-8 #{sprintf('%.2f', contract.period)} Jahre
    .row 
      .col-md-4 Notizen:
      .col-md-8= contract.notes
  .row
    .col-md-12
      h5 Zahlungen #[a.btn.btn-default.btn-sm(href='/transaction/add/'+contract.id) #[span.glyphicon.glyphicon-plus]]
      each transaction in contract.transactions
        if (editTransaction && transaction.id == editTransaction.id )
          .row
            +transaction_input('/transaction/edit', user, contract, editTransaction)
        else
          .row
            .col-md-1 
            .col-md-3 #{moment(transaction.transaction_date).format('DD.MM.YYYY')}
            .col-md-3 #{transaction.getTypeText()}
            .col-md-4.text-right #{sprintf('%.2f', transaction.amount )} EUR #[a.btn.btn-default.btn-sm(href='/transaction/edit/'+transaction.id) #[span.glyphicon.glyphicon-pencil]] #[a.btn.btn-default.btn-sm.confirm(data-link='/transaction/delete/'+transaction.id, data-confirmtext='Willst du die Zahlung von ' + sprintf('%.2f', contract.amount) +  ' EUR vom ' + moment(transaction.transaction_date).format('DD.MM.YYYY') + ' von ' + user.first_name + ' ' + user.last_name  + ' wirklich löschen?') #[span.glyphicon.glyphicon-trash]]
      if (addTransaction && contract.id == addTransaction.contract_id)
        +transaction_input('/transaction/add', user, contract, addTransaction)    