extends ../admin/layout
block admin-content
  form.form-horizontal(action="/user/edit" method="post" role="form")
        input(type="hidden" name="id" value=user.id)
        legend Direktkreditgeber*in Bearbeiten
        .form-group
          label.control-label.col-md-2(for="first_name") Vorname
          .col-md-4
            input.form-control(type="text" id="first_name" name="first_name" value=user.first_name)
          label.control-label.col-md-2(for="last_name") Nachname
          .col-md-4
            input.form-control(type="text" id="last_name" name="last_name" value=user.last_name) 
        .form-group
          label.control-label.col-md-2 Strasse
          .col-md-3
            input.form-control(type="text" name="street" value=user.street)
          label.control-label.col-md-1 PLZ
          .col-md-2
            input.form-control(type="text" name="zip" value=user.zip)    
          label.control-label.col-md-1 Ort
          .col-md-3
            input.form-control(type="text" name="place" value=user.place)    
        .form-group
          label.control-label.col-md-2 Telefonnummer
          .col-md-4
            input.form-control(type="text" name="telno" value=user.telno)         
          label.control-label.col-md-2 E-Mail
          .col-md-4
            input.form-control(type="text" name="email" value=user.email)                                   
        .form-group
          label.control-label.col-md-2 IBAN
          .col-md-4
            input.form-control(type="text" name="IBAN" value=user.IBAN)         
          label.control-label.col-md-2 BIC
          .col-md-4
            input.form-control(type="text" name="BIC" value=user.BIC)
        .text-right
          button(type='submit' class='btn btn-primary') Speichern