extends ../admin/layout
block admin-content
  .jumbotron
    h2 Deutsche Direktkredite
    p.lead Nach deutschem Recht dürfen Projekte (auch solche außerhalb Deutschlands) nur 100.000€ pro Jahr und Zinsrate (0,0%, 0,1%, ..., 2.0%) von deutschen Direktkreditgeber*innen annehmen. Deshalb hier eine Übersicht über den aktuellen Stand. 
  col-md-12
    table.table.table-striped(id="details-table")
      thead
        tr
          th Details
          th Jahr
          th Zeitraum
          th Zinsrate
          th.text-right Kreditsumme
          th.d-none Details
      tbody

        each year in years
          each rate in year.rates
            tr
              td.md-auto.details-control
                span.fa.fa-plus-circle
              td= year.year
              td #{year.from.format('DD.MM.YYYY')} - #{year.to.format('DD.MM.YYYY')}
              td=format.formatPercent(rate.interest_rate, 1)
              td.text-right(class=(rate.total_amount>100000?"text-danger":""))= format.formatMoney(rate.total_amount,2)
              td.d-none.table-row-details
                table.table.display.compact
                  thead
                    tr
                      th.col-md-3 Name
                      th.col-md-4 Adresse
                      th.col-md-2.text-center Datum
                      th.col-md-3.text-right Betrag
                  tbody
                    each contract in rate.contracts
                      tr
                        td= contract.user.getFullName()
                        td= contract.user.getAddress()
                        td.text-center #{moment(contract.sign_date).format('DD.MM.YYYY')}                          
                        td.text-right= format.formatMoney(contract.amount, 2)

