extends ../layout

block content
  .jumbotron
    h2 Zahlen, Daten, Fakten
    p.lead Auswertungen für Hobby-Nummerolog*innen und Zahlennerds 
  .row
    .col-md-12
      .card
        h4.card-header Kennzahlen nach Jahr
        .card-body
          table.table.table-striped(id="numberstable" data-auto-width="false")
            thead
              tr
                th.control.fit.text-center(data-orderable="false")
                th Jahr
                th.text-right Neue Kredite
                th.text-right Rückgezahlte Kredite
                th.text-right Einzahlungen
                th.text-right Auszahlungen
                th.text-right Nicht rückgefordert
                th.text-right Zinsen
                th.text-right Zinsen ausbezahlt
                th.text-right Aushaftender Betrag 
              tbody
                each year, index in numbersPerYear   
                  if index < numbersPerYear.length-1
                    tr
                      td.control.fit
                      td= year.year
                      td.text-right
                        span= year.newContracts
                        small= ' (Ø ' + format.formatPercent(year.newContractAvgInterestRate) + ')'
                      td.text-right
                        span= year.terminatedContracts
                        small= ' (Ø ' + format.formatPercent(year.terminatedContractAvgInterestRate) + ')'              
                      td.text-right= format.formatMoney(year.deposits, 2)
                      td.text-right= format.formatMoney(year.withdrawals, 2)
                      td.text-right= format.formatMoney(year.notReclaimed, 2)
                      td.text-right= format.formatMoney(year.interestGained, 2)
                      td.text-right= format.formatMoney(year.interestPaid, 2)
                      td.text-right= format.formatMoney(year.amountEnd, 2)                
              tfoot
                - var year = numbersPerYear[numbersPerYear.length-1]
                tr
                  td.control.fit
                  th Gesamt
                  th.text-right
                    span= year.newContracts
                    small= ' (Ø ' + format.formatPercent(year.newContractAvgInterestRate) + ')'
                  th.text-right
                    span= year.terminatedContracts
                    small= ' (Ø ' + format.formatPercent(year.terminatedContractAvgInterestRate) + ')'              
                  th.text-right= format.formatMoney(year.deposits, 2)
                  th.text-right= format.formatMoney(year.withdrawals, 2)
                  th.text-right= format.formatMoney(year.notReclaimed, 2)
                  th.text-right= format.formatMoney(year.interestGained, 2)
                  th.text-right= format.formatMoney(year.interestPaid, 2)
                  th.text-right= format.formatMoney(year.amountEnd, 2)    
    .col-md-12
      .card
        h4.card-header Allgemeine Kennzahlen
        .card-body
          table.table.table-striped
            thead
              tr
                th Kennzahl
                th.text-right Alle Kredite
                th.text-right Gekündigte Kredite
                th.text-right Laufende Kredite
            tbody
              tr
                td 
                  strong Anzahl der Kreditgeber*innen
                td.text-right= numbers.total.users
                td.text-right= numbers.cancelled.users
                td.text-right= numbers.running.users
              tr
                td 
                  strong Vertragswert Gesamt
                td.text-right #{format.formatMoney(numbers.total.contractAmount ,2)}
                td.text-right #{format.formatMoney(numbers.cancelled.contractAmount ,2)}
                td.text-right #{format.formatMoney(numbers.running.contractAmount ,2)}
              tr
                td 
                  strong Vertragswert Durchschnitt
                td.text-right #{format.formatMoney(numbers.total.avgAmount ,2)}
                td.text-right #{format.formatMoney(numbers.cancelled.avgAmount ,2)}
                td.text-right #{format.formatMoney(numbers.running.avgAmount ,2)}
              tr
                td 
                  strong Vertragswert Median
                td.text-right #{format.formatMoney(numbers.total.medianAmount ,2)}
                td.text-right -
                td.text-right -               
              tr
                td 
                  strong Rückzahlungsdauer Durchschschnitt
                td.text-right -
                td.text-right #{format.format(numbers.cancelled.avgDaysToRepay ,2, '# Tage')}
                td.text-right -
    - var months = Math.abs(moment(numbers.firstContractDate).startOf('month').diff(moment().endOf('month'), 'months'));
    .col-md-6.col-xs-12.chart-container
      .card
        h4.card-header
          span Laufende Kredite nach Beziehung
          span  
          span.slider-info.h6.float-right
        .card-body
          .daterange-slider
            input(type="text" name="relationslider" id="relationslider" data-provide="slider" data-slider-handle="square" data-slider-range='true' data-start=moment(numbers.firstContractDate).startOf('month') data-slider-min=0 data-slider-max=months data-slider-value=0)
          canvas(id="by-relation" width="400" height="400")
    .col-md-6.col-xs-12.chart-container
      .card
        h4.card-header Laufende Kredite nach 
          span#by-region-level Land
          span  
          span.fa.fa-info-circle(title="Auf Region klicken um zu zoomen")
          span  
          span.slider-info.h6.float-right
        .card-body
          .daterange-slider
            input(type="text" name="regionslider" id="regionslider" data-provide="slider" data-slider-handle="square" data-slider-range='true' data-start=moment(numbers.firstContractDate).startOf('month') data-slider-min=0 data-slider-max=months data-slider-value=0)
          canvas(id="by-region" width="400" height="400")      
    .col-md-6.col-xs-12.chart-container
      .card
        h4.card-header
          span Verschuldung
          span  
          span.slider-info.h6.float-right
        .card-body
          .daterange-slider
            input(type="text" name="debtslider" id="debtslider" data-provide="slider" data-slider-handle="square" data-slider-range='true' data-start=moment(numbers.firstContractDate).startOf('month') data-slider-min=0 data-slider-max=months data-slider-value=months-11)
          canvas(id="by-month" width="400" height="400")  
    .col-md-6.col-xs-12.chart-container
      .card
        h4.card-header
          span Transaktionen
          span  
          span.slider-info.h6.float-right
        .card-body
          .daterange-slider
            input(type="text" name="transactionslider" id="transactionslider" data-provide="slider" data-slider-handle="square" data-slider-range='true' data-start=moment(numbers.firstContractDate).startOf('month') data-slider-min=0 data-slider-max=months data-slider-value=months-11)
          canvas(id="transactions-by-month" width="400" height="400")        

  script(type='text/javascript' src=_url('/public/slider/bootstrap-slider.min.js'))           
  script(type='text/javascript' src=_url('/public/javascripts/statistics.js'))          