extends ../admin/layout

block admin-content
  .jumbotron
    h2 Zahlen, Daten, Fakten
    p.lead Auswertungen für Hobby-Nummerolog*innen und Zahlennerds 
  .row
    .col-md-12
      h4.underline Kennzahlen
    .col-md-12
      table.table.table-striped
        thead
          tr
            th Kennzahl
            th Alle Kredite
            th Gekündigte Kredite
            th Laufende Kredite
        tbody
          tr
            td 
              strong Anzahl der Kredite
            td= numbers.total.count
            td= numbers.cancelled.count
            td= numbers.running.count
          tr
            td 
              strong Anzahl der Kreditgeber*innen
            td= numbers.total.users
            td= numbers.cancelled.users
            td= numbers.running.users
          tr
            td 
              strong Vertragswert Gesamt
            td #{format.formatMoney(numbers.total.contractAmount ,2)}
            td #{format.formatMoney(numbers.cancelled.contractAmount ,2)}
            td #{format.formatMoney(numbers.running.contractAmount ,2)}
          tr
            td 
              strong Vertragswert Durchschnitt
            td #{format.formatMoney(numbers.total.avgAmount ,2)}
            td #{format.formatMoney(numbers.cancelled.avgAmount ,2)}
            td #{format.formatMoney(numbers.running.avgAmount ,2)}
          tr
            td 
              strong Vertragswert Median
            td #{format.formatMoney(numbers.total.medianAmount ,2)}
            td -
            td - 
          tr
            td 
              strong Vertragszinssatz Durchschnitt
            td #{format.formatPercent(numbers.total.avgInterestRate ,4)}
            td #{format.formatPercent(numbers.cancelled.avgInterestRate ,4)}
            td #{format.formatPercent(numbers.running.avgInterestRate ,4)}   
          tr
            td 
              strong Einzahlungen
            td #{format.formatMoney(numbers.total.deposits ,2)}
            td #{format.formatMoney(numbers.cancelled.deposits ,2)}
            td #{format.formatMoney(numbers.running.deposits ,2)}            
          tr
            td 
              strong Rückzahlungen
            td #{format.formatMoney(numbers.total.withdrawals ,2)}
            td #{format.formatMoney(numbers.cancelled.withdrawals ,2)}
            td #{format.formatMoney(numbers.running.withdrawals ,2)}            
          tr
            td 
              strong Nicht rückgefordert
            td #{format.formatMoney(numbers.total.notReclaimed ,2)}
            td #{format.formatMoney(numbers.cancelled.notReclaimed ,2)}
            td #{format.formatMoney(numbers.running.notReclaimed ,2)}            
          tr
            td 
              strong Zinsen
            td #{format.formatMoney(numbers.total.interestToDate + numbers.total.interestPaid ,2)}
            td #{format.formatMoney(numbers.cancelled.interestPaid ,2)}
            td #{format.formatMoney(numbers.running.interestToDate ,2)}            
          tr
            td 
              strong Aushaftender Betrag
            td #{format.formatMoney(numbers.total.outstandingAmount ,2)}
            td #{format.formatMoney(0 ,2)}
            td #{format.formatMoney(numbers.running.outstandingAmount ,2)}                 
          tr
            td 
              strong Rückzahlungsdauer Durchschschnitt
            td -
            td #{format.format(numbers.cancelled.avgDaysToRepay ,2, '# Tage')}
            td -
    .col-md-6.col-xs-12
      h3.underline Laufende Kredite nach Beziehung
      canvas(id="by-relation" width="400" height="400")
    .col-md-6.col-xs-12
      h3.underline Laufende Kredite nach PLZ
      canvas(id="by-zip" width="400" height="400")      
    .col-md-6.col-xs-12
      h3.underline Verschuldung (12 Monate)
      canvas(id="by-month" width="400" height="400")  
    .col-md-6.col-xs-12
      h3.underline Transaktionen (12 Monate)
      canvas(id="transactions-by-month" width="400" height="400")        
        //img(width="600" src="data:image/png;base64,"+numbers.charts.byRelationship)