extends ../admin/layout

block admin-content
  .jumbotron
    h2 Zahlen, Daten, Fakten
    p Auswertungen für Hobby-Nummerolog*innen und Zahlennerds 
  .row
    .col-md-6
      .row
        .col-md-12
          h3.underline Alle Kredite     
      .row
        .col-md-5.h4 Anzahl
        .col-md-7.h4= numbers.total.count
      .row
        .col-md-5.h4 Gesamtwert
        .col-md-7.h4 #{sprintf('%.2f', numbers.total.amount )} EUR
      .row 
        .col-md-5.h4 Durchschnittswert
        .col-md-7.h4 #{sprintf('%.2f', numbers.total.avgAmount )} EUR 
      .row
        .col-md-5.h4 Medianwert
        .col-md-7.h4  #{sprintf('%.2f', numbers.total.medianAmount )} EUR 
      .row
        .col-md-5.h4 Durchschnittszinssatz
        .col-md-7.h4 #{sprintf('%.4f', numbers.total.avgInterestRate )} %
      .row
        .col-md-5.h4 Durchschnittslaufzeit
        .col-md-7.h4 #{sprintf('%.3f', numbers.total.avgPeriod )} Jahre
    .col-md-6
      .row
        .col-md-12
          h3.underline Laufende Kredite
      .row
        .col-md-5.h4 Anzahl
        .col-md-7.h4= numbers.running.count
      .row
        .col-md-5.h4 Gesamtwert
        .col-md-7.h4 #{sprintf('%.2f', numbers.running.amount )} EUR
      .row 
        .col-md-5.h4 Durchschnittswert
        .col-md-7.h4 #{sprintf('%.2f', numbers.running.avgAmount )} EUR 
      .row
        .col-md-5.h4 Durchschnittszinssatz
        .col-md-7.h4 #{sprintf('%.4f', numbers.running.avgInterestRate )} %
      .row
        .col-md-5.h4 Durchschnittslaufzeit
        .col-md-7.h4 #{sprintf('%.3f', numbers.running.avgPeriod )} Jahre
      .row
        .col-md-12
          h3.underline Gekündigte Kredite
      .row
        .col-md-5.h4 Anzahl
        .col-md-7.h4= numbers.cancelled.count
      .row
        .col-md-5.h4 Gesamtwert
        .col-md-7.h4 #{sprintf('%.2f', numbers.cancelled.amount )} EUR
      .row 
        .col-md-5.h4 Durchschnittswert
        .col-md-7.h4 #{sprintf('%.2f', numbers.cancelled.avgAmount )} EUR 
      .row
        .col-md-5.h4 Durchschnittszinssatz
        .col-md-7.h4 #{sprintf('%.4f', numbers.cancelled.avgInterestRate )} %
      .row
        .col-md-5.h4 Durchschnittslaufzeit
        .col-md-7.h4 #{sprintf('%.3f', numbers.cancelled.avgPeriod )} Jahre
    .col-md-6
      h3.underline Laufende Kredite nach Beziehung
      canvas(id="by-relation" width="400" height="400")
    .col-md-6
      h3.underline Laufende Kredite nach PLZ
      canvas(id="by-zip" width="400" height="400")      
        //img(width="600" src="data:image/png;base64,"+numbers.charts.byRelationship)